<div class="cycle-slideshow" id="p[settings:moduleid]"
 data-cycle-allow-wrap="[settings:allow-wrap]"
 data-cycle-auto-height="[settings:auto-height]"
 data-cycle-delay="[settings:delay]"
 data-cycle-fx="[settings:fx]"
 data-cycle-loop="[settings:loop]"
 data-cycle-pause-on-hover="[settings:pause-on-hover]"
 data-cycle-random="[settings:random]"
 data-cycle-reverse="[settings:reverse]"
 data-cycle-speed="[settings:speed]"
 data-cycle-starting-slide="[settings:starting-slide]"
 data-cycle-swipe="[settings:swipe]"
 data-cycle-sync="[settings:sync]"
 data-cycle-timeout="[settings:timeout]"
 data-cycle-easing="[settings:easing]">
[subtemplate|Pager.html|settings:pager|true]
[subtemplate|Image.html|images|pagesize=-1]
</div>